<div>
    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <div>
            <label for="name">Firs name : </label>
            <input type="text" name="firstName" required [(ngModel)]="firstName">

            <div *ngIf="loginForm.controls['lastName']?.touched &&loginForm.controls['firstName']?.invalid"
            [ngStyle]="errorStyles" >This is required</div>
        </div>
        <div>
            <label for="name">last name2 : </label>
            <input type="text" name="lastName" required [(ngModel)]="lastName">
            <div *ngIf="loginForm.controls['lastName']?.touched && loginForm.controls['lastName']?.invalid" style="color: red;background-color: blue;">This is required</div>
        </div>
        <div>
            <label for="name">email : </label>
            <input type="text" name="email" required email [(ngModel)]="email">
            <div *ngIf="loginForm.controls['email']?.touched && loginForm.controls['email']?.invalid"
            [ngStyle]="{'color': 'red', 'font-weight': 'bold', 'background-color': 'lightyellow'}">This is required</div>
        </div>

        <div>
            <label for="name">password : </label>
            <input type="password" name="password" required [(ngModel)]="password">
            <div *ngIf="loginForm.controls['password']?.touched && loginForm.controls['password']?.invalid"
            [ngStyle]="{'color': 'red', 'font-weight': 'bold', 'background-color': 'lightyellow'}">This is required</div>
        </div>
     
        <button type="submit" [disabled]="loginForm.invalid">Submit</button>
        <button type="button">Cancel</button>

    </form>


    <!-- Pipe Example -->
    <div> <p>{{valuee | capitalFirst}}</p></div>
    <div> <p>{{valuee}}</p></div>

    <!-- Directive example -->
    <p appHighlightHover >hover on me</p>
    

    <form [formGroup]="signform" (ngSubmit)="login()">
        <div>
        <input type="text" formControlName="name">
        <div *ngIf="signform.controls['name'].invalid">its required</div>
    </div>
    <div>
        <input type="text" formControlName="lastName">
        <div *ngIf="signform.controls['lastName']?.invalid">its required</div>
    </div>
    <div>
        <input type="password" formControlName="password">
        <div *ngIf="signform.controls['password']?.invalid">its required</div>
    </div>
    <div>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="signform.controls['confirmPassword'].invalid">its required</div>
    </div>

    <div formArrayName="items">
    <input *ngFor="let item of items.controls; let i=index" [formControlName]="i">
   </div>
    </form>

    <button (click)="naviagetProduct()">navigate</button>
    <button (click)="addItem()">add</button>

    <div *ngIf="signform.hasError('mismatchpw')" style="color: red;">
        Passwords do not match!
      </div>

     


    

   
</div>


